body {
  padding: 0;
  margin: 0;
  font-family: "montserrat";
}
section {
  min-height: 100vh;
  min-width: 100vw;
  overflow: "hidden";
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-family: "montserrat";
}
h1 {
font-size: 2.25rem;
font-weight: 800;
}
.hstack {
  display: flex;
  flex-direction: row;
}
.vstack {
  display: flex;
  flex-direction: column;
}
.vcenter {
  align-items: center;
}
.hcenter {
  margin:0 auto
}
.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blur-image::after {
  background-color: rgba(0, 0, 0, 0.33);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
button {
  transition: 0.125s;
  cursor: pointer;
}
button:hover {
  transform: scale(0.95);
}
